<%- include('layout', { body: `
    <div class="bg-white p-6 rounded-lg shadow-md">
        <h2 class="text-xl font-semibold mb-4 text-gray-700">Edit Customer</h2>
        <form action="/edit/<%= customer._id %>" method="POST" class="space-y-4">
            <input name="name" value="<%= customer.name %>" required class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="phoneNumber" value="<%= customer.phoneNumber %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="phoneNumber2" value="<%= customer.phoneNumber2 %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="guarantor" value="<%= customer.guarantor %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="addresses" value="<%= customer.addresses %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="nearestAddresses" value="<%= customer.nearestAddresses %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="jop" value="<%= customer.jop %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <input name="specialDiscount" type="number" value="<%= customer.specialDiscount %>" class="w-full p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:border-transparent">
            <div class="flex justify-end space-x-2">
                <a href="/" class="p-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 transition duration-300 ease-in-out">Cancel</a>
                <button type="submit" class="p-2 bg-green-500 text-white rounded-md hover:bg-green-600 transition duration-300 ease-in-out">Update Customer</button>
            </div>
        </form>
    </div>
    ` }) %>
    
    